@import "../../styles/variables";

.container {
  position: relative;
}

.image {
  background-size: cover;
  border-radius: 50%;
  display: flex;
  margin: auto 1px;
  filter: grayscale(75%);
}

.actioned {
  filter: grayscale(0%);
}

.status {
  position: absolute;
  height: 14px;
  right: 0px;
  top: 0px;
  width: 14px;

  & > span {
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    overflow: hidden;
    border: 2px solid white;
    width: 100%;

    & > svg {
      max-height: 100%;
      max-width: 100%;
      vertical-align: bottom;
      overflow: hidden;
      pointer-events: none;
      fill: white;

      &.approved {
        color: $pr-approved-color;
      }

      &.needs-work {
        color: $pr-needs-work-color;
      }
    }
  }
}
