@import "../../../styles/variables";

.container {
  display: flex;
  flex-flow: column nowrap;

  & > div {
    padding-left: 10px;
  }

  & > .title {
    background-color: $title-background-color;

    & > img {
      height: 32px;
    }
  }
}

.title {
  display: flex;
  align-items: center;

  & > img, i {
    margin-right: 5px;
  }
}

.options-list {
  padding: 0 10px 10px;
  border-top: 1px solid $border-color;

  .title > img {
    height: 16px;
  }
}

.options-sub-item-list {
  margin-top: 8px;

  .title {
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px 0;
  }
}

.options-item {
  display: flex;
  padding: 2px 0;
  align-items: center;

  & > span {
    width: 90px;
  }
}

.notification-settings {
  display: block;
  align-items: center;
}

.slack-settings {
  background-color: #2f363e;
  border-top: 1px solid;
}

.controls {
  padding: 10px 0;
  border-top: 1px dashed $border-color;
}

.test-browser-notification {
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
}
