<div class="container">
  <div class="title">
    <img src="favicon.ico"/>
    <h2> Extension settings: </h2>
  </div>

  <div class="options-list">
    <div class="options-item">
      <span>URL:</span>
      <input type="text" size="50" placeholder="bitbucket url" pattern="^https?://" [(ngModel)]="settings.bitbucket.url">
    </div>

    <div class="options-item">
      <span>Username:</span>
      <input type="text" size="50" placeholder="bitbucket username" pattern=".+" [(ngModel)]="settings.bitbucket.username">
    </div>

    <div class="options-item">
      <span>Token:</span>
      <input type="text" size="50" placeholder="bitbucket token" pattern=".+" [(ngModel)]="settings.bitbucket.token">
    </div>

    <div class="options-item">
      <span>Refresh interval:</span>
      <input type="number" min="1" max="120" style="width: 50px;" [(ngModel)]="settings.refreshIntervalInMinutes">
      <span>, in minutes</span>
    </div>

    <div class="options-item notification-settings" style="display: none;">
      <span>Notification settings:</span>
      <select>
        <option value="all">ALL</option>
        <option value="mentions" title="Notify only about comments where user is mentioned (even in replies)">Mentions only</option>
      </select>
    </div>
  </div>
  <div class="controls">
    <button (click)="onSave()">Save</button>
    <span style="margin-left: 10px;" *ngIf="statusMessage">{{statusMessage}}</span>
  </div>
</div>
