@import "src/variables";

.container {
  padding-top: 10px;
  display: flex;
  flex-flow: column nowrap;

  & > * {
    padding-left: 10px;
  }
}

.title {
  display: flex;
  align-items: center;

  & > img {
    height: 30px;
    margin-right: 5px;
  }
}

.options-list {
  padding: 10px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px dashed $border-color;
}

.options-item {
  display: flex;
  padding: 2px 0;
  align-items: center;

  & > span {
    width: 100px;
  }
}

.notification-settings {
  display: block;
  align-items: center;

  & > label {
    margin-right: 5px;
  }
}

.controls {
  margin-top: 10px;
}
