@import "../../../styles/variables";

.home {
  display: flex;
  flex-flow: column nowrap;
  cursor: default;
  height: 100%;
}

.role {
  margin-bottom: 10px;
}

.title {
  display: flex;
  align-items: center;
  height: 25px;
  background-color: $title-background-color;
  padding-left: 3px;
  color: $role-title-color;
}

.summary {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.last-data-fetching-time {
  font-size: 15px;
  font-style: italic;
  padding-left: 3px;
}

.refresh {
  font-size: 20px;
  cursor: pointer;
  padding: 2px;
}

.no-settings {
  margin: 10px;
  white-space: nowrap;
}
