@if (isSettingsValid) {
  <div class="home">
    <div class="summary">
      @if (lastDataFetchingTimestamp) {
        <span class="last-data-fetching-time">
          last data fetching time:
          <span style="font-style: initial;">{{ lastDataFetchingTimestamp | date:dateFormat }}</span>
        </span>
      }
      <span class="refresh" (click)="onRefresh()">
      refresh list
      <i class="icon icon-redo2" title="refresh"></i>
    </span>
    </div>

    <div class="role">
      <div class="title">
        <h3>
          <i style="margin-right: 2px;" class="icon icon-user"></i>
          Created
          @if (created) {
            <span>&nbsp;| {{ created.length }}</span>
          }
        </h3>
      </div>
      @if (created) {
        <div class="list">
          @for (pr of created; track pr) {
            <app-pull-request [pullRequest]="pr" [showAuthorAvatar]="false"/>
          }
        </div>
      }
    </div>

    <div class="role">
      <div class="title">
        <h3>
          <i style="margin-right: 2px;" class="icon icon-git"></i>
          Reviewing
          @if (reviewing) {
            <span>&nbsp;| {{ reviewing.length }}</span>
          }
        </h3>
      </div>
      @if (reviewing) {
        <div class="list">
          @for (pr of reviewing; track pr) {
            <app-pull-request [pullRequest]="pr"/>
          }
        </div>
      }
    </div>

    <div class="role">
      <div class="title">
        <h3>
          <i style="margin-right: 2px;" class="icon icon-bubbles"></i>
          Participating
          @if (participant) {
            <span>&nbsp;| {{ participant.length }}</span>
          }
        </h3>
      </div>
      @if (participant) {
        <div class="list">
          @for (pr of participant; track pr) {
            <app-pull-request [pullRequest]="pr"/>
          }
        </div>
      }
    </div>

  </div>
} @else {
  <div class="no-settings">
    <h2>Please setup <a [routerLink]="['options']">settings</a> before</h2>
  </div>
}


