<div class="home">
  <div class="role">
    <div class="title">
      <h3>
        <i style="margin-right: 2px;" class="icon icon-user"></i>
        Authored
        <span *ngIf="authored">&nbsp;| {{authored.values.length}}</span>
      </h3>
    </div>
    <div *ngIf="authored" class="list">
      <div *ngFor="let pr of authored">
        <app-pull-request [pullRequest]="pr" [showAuthorAvatar]="false"></app-pull-request>
      </div>
    </div>
  </div>

  <div class="role">
    <div class="title">
      <h3>
        <i style="margin-right: 2px;" class="icon icon-git"></i>
        Reviewing
        <span *ngIf="reviewing">&nbsp;| {{reviewing.length}}</span>
      </h3>
    </div>
    <div *ngIf="reviewing" class="list">
      <div *ngFor="let pr of reviewing">
        <app-pull-request [pullRequest]="pr"></app-pull-request>
      </div>
    </div>
  </div>

  <div class="role">
    <div class="title">
      <h3>
        <i style="margin-right: 2px;" class="icon icon-bubbles"></i>
        Participant
        <span *ngIf="participant">&nbsp;| {{participant.length}}</span>
      </h3>
    </div>
    <div *ngIf="participant" class="list">
      <div *ngFor="let pr of participant">
        <app-pull-request [pullRequest]="pr"></app-pull-request>
      </div>
    </div>
  </div>
</div>
