.home {
  display: flex;
  flex-flow: column nowrap;
  min-width: 400px;
  min-height: 250px;
}

.role {
  margin-bottom: 10px;
}

.title {
  display: flex;
  align-items: center;
  height: 25px;
  background-color: #2d333b;
  padding-left: 3px;
  color: #CDD9E5B2;
}

.list {
}

.summary {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.refresh {
  font-size: 20px;
  cursor: pointer;
  padding: 2px;
}
