@import "src/variables";

.home {
  display: flex;
  flex-flow: column nowrap;
  min-width: 400px;
  min-height: 250px;
  cursor: default;
}

.role {
  margin-bottom: 10px;
}

.title {
  display: flex;
  align-items: center;
  height: 25px;
  background-color: $title-background-color;
  padding-left: 3px;
  color: $role-title-color;
}

//.list {
//  & > div:nth-child(even):not(hover) {
//    background-color: #1c202559;
//  }
//}

.summary {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.last-data-fetching-time {
  font-size: 15px;
  font-style: italic;
}

.refresh {
  font-size: 20px;
  cursor: pointer;
  padding: 2px;
}

.no-settings {
  margin: 10px;
  white-space: nowrap;
}
