$border-color: #444c56;
$title-background-color: #353e48;
$role-title-color: #ffffffe0;
$pr-control-distance: 10px;
$pr-control-border-radius: 3px;
$pr-approved-color: rgb(0, 135, 90);
$pr-needs-work-color: rgb(255, 139, 0);
$pr-background-color-hover: #2D333B;
$pr-notifications-snoozed-color: #ff4343;
