.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 12px;
  gap: 14px;

  .button {
    cursor: pointer;
  }

  .refresh {
    font-size: 20px;
    cursor: pointer;
    padding: 2px;
  }
}
