.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  .last-data-fetching-time {
    font-size: 15px;
    font-style: italic;
    padding-left: 3px;
  }

  .refresh {
    font-size: 20px;
    cursor: pointer;
    padding: 2px;
  }
}
