.container {
  position: relative;
}

.image {
  background-size: cover;
  border-radius: 50%;
  display: flex;
  margin: auto 1px;
}

.un-approved {
  filter: grayscale(75%);
}

.approved {
  position: absolute;
  height: 14px;
  right: 0px;
  top: 0px;
  width: 14px;
}

.approved-icon {
  align-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  overflow: hidden;
  border: 2px solid white;
  width: 100%;

  & > svg {
    max-height: 100%;
    max-width: 100%;
    vertical-align: bottom;
    overflow: hidden;
    pointer-events: none;
    color: rgb(0, 135, 90);
    fill: white;
  }
}
