@if (isSettingsValid) {
  <div class="home">
    <app-toolbar
      class="toolbar"
      [lastDataFetchingTimestamp]="lastDataFetchingTimestamp"
      (refreshData)="onRefresh()"/>

    <div class="roles-container">
      <div class="role">
        <div class="title">
          <h3>
            <i style="margin-right: 2px;" class="icon icon-user"></i>
            Created
            @if (created) {
              <span>&nbsp;| {{ totalPullRequests(created) }}</span>
            }
          </h3>
        </div>
        @if (created) {
          <div class="list">
            <ng-container *ngTemplateOutlet="renderItems; context: {$implicit: created, avatar: false}"/>
          </div>
        }
      </div>

      <div class="role">
        <div class="title">
          <h3>
            <i style="margin-right: 2px;" class="icon icon-git"></i>
            Reviewing
            @if (reviewing) {
              <span>&nbsp;| {{ totalPullRequests(reviewing) }}</span>
            }
          </h3>
        </div>
        @if (reviewing) {
          <div class="list">
            <ng-container *ngTemplateOutlet="renderItems; context: {$implicit: reviewing, avatar: true}"/>
          </div>
        }
      </div>

      <div class="role">
        <div class="title">
          <h3>
            <i style="margin-right: 2px;" class="icon icon-bubbles"></i>
            Participating
            @if (participant) {
              <span>&nbsp;| {{ totalPullRequests(participant) }}</span>
            }
          </h3>
        </div>
        @if (participant) {
          <div class="list">
            <ng-container *ngTemplateOutlet="renderItems; context: {$implicit: participant, avatar: true}"/>
          </div>
        }
      </div>
    </div>

  </div>
} @else {
  <div class="no-settings">
    <h2>Please setup <a [routerLink]="['options']">settings</a> before</h2>
  </div>
}

<ng-template #renderItems let-items let-avatar=avatar>
  @for (group of items | toKeyValue; track group) {
    @if (group.key !== '') {
      <span class="group-title title"
            [ngClass]="{'as-link': taskLinkPattern}"
            (click)="groupClick(group.key)">
        {{group.key}}
      </span>
    }
    @for (pr of group.value; track pr) {
      <app-pull-request class="pull-request" [pullRequest]="pr" [showAuthorAvatar]="avatar"/>
    }
  }
</ng-template>

