@import "../../styles/variables";

.home {
  display: flex;
  flex-direction: column;
  cursor: default;
  height: 100%;

  .toolbar {
    flex: 0 0 auto;
  }

  .roles-container {
    flex: 1 1 100%;
    min-height: 200px;
    overflow-y: auto;

    .role {
      margin-bottom: 10px;

      .title {
        display: flex;
        align-items: center;
        height: 25px;
        background-color: $title-background-color;
        padding: 7px 3px;
        color: $role-title-color;
      }

      .list {
        .group-title {
          //margin-top: .5em;
          border-top: 1px solid $border-color;
          padding: 3px;

          &.as-link {
            cursor: pointer;
            color: rgb(83, 155, 245);
            font-weight: bolder;
          }
        }

        .pull-request {
          border-top: 1px solid $border-color;
          display: block;

          &:first-child {
            border-top: 0;
          }
        }
      }
    }
  }
}

.no-settings {
  margin: 10px;
  white-space: nowrap;
}
