<div class="container" *ngIf="pullRequest">
  <div class="data">
    <a class="self-url" href="{{selfUrl}}" target="_blank">{{pullRequest.title}}</a>
    <div class="status-bar">
      <app-pull-request-state [state]="pullRequest.state"></app-pull-request-state>
      <span>{{pullRequest.createdDate | date}}</span>
      <span>"comments"</span>
    </div>
  </div>
  <div class="reviewers">
    <ng-container *ngFor="let reviewer of pullRequest.reviewers">
      <app-user [user]="reviewer.user" [approved]="reviewer.approved"></app-user>
    </ng-container>
  </div>
</div>
