<div class="container" *ngIf="pullRequest" data-id="{{pullRequest.id}}">
  <div class="content">
    <div class="data">
      <span class="self-url url" (click)="navigateTo(selfUrl)">
        <app-user class="user" *ngIf="showAuthorAvatar" [user]="pullRequest.author.user" [size]="14"></app-user>
        <span class="title" [ngClass]="{'conflicts': hasConflicts, 'approved': approved, 'needs-work': needsWork}">
          {{pullRequest.title}}
        </span>
      </span>
      <div class="status-bar">
        <span class="pr-status"
              [class.pr-can-be-merged]="approved"
              [ngClass]="{'conflicts': hasConflicts, 'approved': approved, 'needs-work': needsWork}">
          {{status}}
          <i *ngIf="hasConflicts" class="icon icon-warning"></i>
        </span>

        <span title="created date">{{pullRequest.createdDate | date}}</span>

        <span class="to-ref url" (click)="navigateTo(pullRequest.fromRef.repository.links.self[0].href)">
          {{pullRequest.fromRef.repository.name}}
        </span>

        <span class="to-ref" title="destination branch">{{pullRequest.toRef.displayId}}</span>

        <span class="comments" *ngIf="commentsCount" title="{{commentsCount}} comment(s)">
          {{commentsCount}}
          <i class="icon icon-bubble"></i>
        </span>

        <app-snooze-notification [id]="pullRequest.id"></app-snooze-notification>
      </div>
    </div>
    <div class="reviewers">
      <ng-container *ngFor="let reviewer of pullRequest.reviewers">
        <app-user [user]="reviewer.user" [status]="reviewer.status"></app-user>
      </ng-container>
    </div>
  </div>
</div>
