@import "src/variables";

.url {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  padding: $pr-control-distance 3px;
  border-top: 1px solid $border-color;

  &:hover {
    background-color: $pr-background-color-hover;
  }

  .content {
    display: flex;
    //align-items: flex-start; /* vertical alignment */
    flex-flow: row nowrap;
    justify-content: space-between; /* horizontal alignment */
    margin: 0 $pr-control-distance;

    .data {
      display: flex;
      flex-flow: column nowrap;
      justify-content: left;
      margin-right: $pr-control-distance;
      overflow: hidden;

      .self-url {
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-bottom: $pr-control-distance;
        overflow-x: hidden;

        .user {
          margin-right: 5px;
        }

        .title {
          color: #adbac7;
          font-weight: bold;
          text-decoration: none;
          font-size: 1.2em;
          display: inline-block;
          padding: 3px 0;
          overflow: hidden;
          text-overflow: ellipsis;

          &.conflicts, &.needs-work {
            color: $pr-needs-work-color;
          }
        }
      }

      .status-bar {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        & > * {
          padding: 2px 3px;
        }
      }
    }

    .reviewers {
      display: flex;
      flex-flow: row nowrap;
      align-items: center; /* vertical alignment */
      max-width: max-content;
    }
  }
}

.pr-status {
  background-color: #0052CC;
  color: white;
  border-radius: $pr-control-border-radius;
  font-weight: 700;
  margin-right: $pr-control-distance;

  &.approved {
    background-color: $pr-approved-color;
  }

  &.conflicts, &.needs-work {
    background-color: $pr-needs-work-color;
  }
}

.comments {
  color: rgb(0, 102, 68);
  border-radius: $pr-control-border-radius;
  font-weight: 700;
  margin-right: $pr-control-distance;
  background-color: rgb(227, 252, 239)
}

.to-ref {
  border: 1px solid $border-color;
  border-radius: $pr-control-border-radius;
  color: #ffc682;
  background-color: $pr-background-color-hover;
  margin-right: $pr-control-distance;
}
